@media (max-width: 1400px) {
  .nav-bar #menu {
    display: none;
  }
  .home-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .home-section .col {
    width: 50%;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
  }
  .home-section .col p {
    margin-top: 15%;
    font-size: 95%;
    line-height: 1.9rem;
  }
}
@media (max-width: 900px) {
  .nav-bar #menu {
    display: none;
  }
  .home-section {
    display: flex;
    justify-content: center;
  }
  .home-section .col {
    width: 50%;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
  }
  .home-section .col p {
    margin-top: 15%;
    font-size: 95%;
    line-height: 1.9rem;
  }
}

@media (max-width: 400px) {
  .nav-bar a {
    display: none;
  }
  .nav-bar #menu {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .home-section {
    display: inline-block;
  }
  .home-section .col {
    width: 100%;
    margin: 0.5rem auto;
  }
  .home-section .col p {
    width: 100%;
    font-size: 85%;
    line-height: 1.6rem;
    margin-top: 0;
  }
  .home-section .col #type {
    font-size: 1.5rem;
  }
}
